// FOR THE STYLEGUIDE
span.serif:after{
    font-weight: bold;
    font-family: $font-family-secondary;
    content:$font-family-secondary;
}
span.sans-serif:after{
    font-weight: bold;
    font-family: $font-family-primary;
    content:$font-family-primary;
}
.hexCode:after{
    content: #{$color-primary};
}

hr{
    border-top: 0;
    border-bottom: 1px dotted $color-border;
}
.relative{
    position: relative;
}

// LINK COLORS
a{
    color: $color-link;
    text-decoration: none;

    &:hover{
        color: darken($color-link, 8%);
    }
}

.--link-with-bg {
    white-space: nowrap;
    border-radius: $default-border-radius;
    &:hover{
        color: darken($color-link, 8%);
        background-color: lighten($color-link, 50%)
    }
}

.clear-margin{
    margin: 0 !important;
}

.divider{
    margin: 0;
    border-top: 1px dotted $color-subtle;
    width: 100%;
}

// SELECTION COLORS
::selection{
    background-color: $color-secondary;
    color: $color-white;
}
