// FOR THE STYLEGUIDE
span.serif:after{
    font-weight: bold;
    font-family: $font-family-serif;
    content:$font-family-serif;
}
span.sans-serif:after{
    font-weight: bold;
    font-family: $font-family-sans-serif;
    content:$font-family-sans-serif;
}
.hexCode:after{
    content: #{$color-primary};
}

// LINK COLORS
a{
    color: $color-link;
    &:hover{

    }
}

// SELECTION COLORS
::selection{
    background-color: $color-secondary;
    color: $color-white;
}