/**
 * Sidebar animations
 */
.sidebar-slide-from-right {
    animation: SidebarSlideFromRight;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    animation-duration: 600ms;
}

@keyframes SidebarSlideFromRight {
    0% {
        transform: translateX(100%) translateZ(0);
    }
    100% {
        transform: translateX(0) translateZ(0);
    }
}

.sidebar-bg-fade-in {
    animation: SidebarBackgroundFadeIn;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    animation-duration: 600ms;
}

@keyframes SidebarBackgroundFadeIn {
    0% {
        @apply opacity-0;
    }
    100% {
        @apply opacity-25;
    }
}
