/* Nice bottom border hover effect; mostly used for navigation */
.with-bottomline {
    transition: 0.3s all ease;
    @apply no-underline relative;

    &:after {
        content: '';
        bottom: -1px;
        transform: translateX(-50%);
        transition: 0.26s cubic-bezier(0.69, 0.14, 0.05, 1.31);

        @apply block absolute h-0 left-0 w-0 bg-primary-500;
    }

    &:hover,
    &.active {
        @apply text-primary-500 no-underline;

        &:after {
            left: 50%;
            width: 30%;
            height: 1px;
        }
    }
}

/* Icon label hover effect */
.icon-label {
    .icon-label-icon {
        @apply inline-block transform;
        @extend .transition-150;
    }

    &:hover {
        .icon-label-icon {
            @apply scale-110;
        }
    }
}

/* TODO: safelist class in purgecss */
/*! purgecss start ignore */
.wireframe {
    @apply p-4 rounded-lg bg-grey-50;

    .wireframe-container {
        @apply px-12;
    }

    .wireframe-title {
        @apply leading-normal font-semibold text-grey-900 text-xs;
    }

    .wireframe-content {
        @apply leading-normal text-grey-700 text-xs line-clamp-6;

        &:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
            @apply font-normal;
        }

        * {
            @apply leading-normal text-grey-700 text-xs;

            &:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
                @apply font-normal;
            }
        }
    }

    .wireframe-content-sm {
        @extend .wireframe-content;

        @apply line-clamp-3;
    }

    .wireframe-btn {
        @apply bg-grey-200 text-grey-700 font-medium px-2 py-1 rounded text-xs inline-block;
    }

    .wireframe-image {
        @apply h-24 bg-center bg-cover rounded-lg bg-grey-300;
    }
}
/*! purgecss end ignore */
