@layer utilities {
    .row {
        @apply row-start-start;
    }

    .gutter {
        @apply gutter-4;
        & > * {
            @apply p-4;
        }
        @screen lg {
            @apply gutter-6;
            & > * {
                @apply p-6;
            }
        }
    }

    .container,
    .container-lg {
        @apply container-11/12;

        @screen xl {
            @apply container-5/6;
        }

        @screen 2xl {
            @apply container-4/5;
        }
    }

    .container-sm {
        @apply container-11/12;
        @screen lg {
            @apply container-2/3;
        }
        @screen xl {
            @apply container-1/2;
        }
        @screen 2xl {
            @apply container-2/5;
        }
    }
}

/* Nice bottom border hover effect; mostly used for navigation */
.with-bottomline {
    transition: 0.3s all ease;
    @apply no-underline relative;

    &:after {
        content: '';
        bottom: -1px;
        transform: translateX(-50%);
        transition: 0.26s cubic-bezier(0.69, 0.14, 0.05, 1.31);

        @apply block absolute h-0 left-0 w-0 bg-primary-500;
    }

    &:hover,
    &.active {
        @apply text-primary-500 no-underline;

        &:after {
            left: 50%;
            width: 30%;
            height: 1px;
        }
    }
}

/* Icon label hover effect */
.icon-label {
    .icon-label-icon {
        @apply inline-block transition-all ease-in-out duration-75;
    }

    &:hover {
        .icon-label-icon {
            @apply scale-110;
        }
    }
}

.hierarchy-sub-level {
    .hierarchy-sub-level\:block {
        @apply block;
    }
}

.with-fragment-select-options {
    .fragment-select-options {
        @apply border-t-2 border-dashed border-primary-50;
    }

    &:first-child {
        .fragment-select-options {
            @apply border-t-0 border-b-2;
        }
    }

    &:only-child {
        .fragment-select-options {
            @apply border-0;
        }
    }
}

.hover\:child-svg-scale-110 {
    svg {
        @apply inline-block transition-all ease-in-out duration-75;
    }

    &:hover svg {
        @apply scale-110;
    }
}

.collapsed-dropdown {
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.05);

    @apply absolute left-6 top-0 bg-white rounded-lg p-2 min-w-48 shadow-lg;
}

.children\:w-6 > * {
    @apply w-6;
}

.children\:h-6 > * {
    @apply h-6;
}

.children\:text-black > * {
    @apply text-black;
}
