/* Nice bottom border hover effect; mostly used for navigation */
.with-bottomline {
    transition: 0.3s all ease;
    @apply relative no-underline;

    &:after {
        content: '';
        bottom: -1px;
        /* transform: translateX(-50%); */
        transition: 0.26s cubic-bezier(0.69, 0.14, 0.05, 1.31);

        @apply absolute left-0 block h-0 w-0 bg-primary-500;
    }

    &:hover,
    &.active {
        @apply text-primary-500 no-underline;

        &:after {
            left: 0;
            width: 100%;
            height: 1px;
        }
    }
}

/* Icon label hover effect */
.icon-label {
    .icon-label-icon {
        @apply inline-block transition-all duration-75 ease-in-out;
    }

    &:hover {
        .icon-label-icon {
            @apply scale-110;
        }
    }
}

.hierarchy-sub-level {
    .hierarchy-sub-level\:block {
        @apply block;
    }
}

.with-fragment-select-options {
    .fragment-select-options {
        @apply border-t border-grey-100;
    }

    &:first-child {
        .fragment-select-options {
            @apply border-b-2 border-t-0;
        }
    }

    &:only-child {
        .fragment-select-options {
            @apply border-0;
        }
    }
}
