@responsive {
    .row {
        @apply row-start-start;
    }

    .gutter {
        @apply gutter-4;
        & > * {
            @apply p-4;
        }
        @screen lg {
            @apply gutter-6;
            & > * {
                @apply p-6;
            }
        }
    }

    .container,
    .container-lg {
        @apply container-11/12;

        @screen xl {
            @apply container-5/6;
        }

        @screen 2xl {
            @apply container-4/5;
        }
    }

    .container-sm {
        @apply container-11/12;
        @screen lg {
            @apply container-2/3;
        }
        @screen xl {
            @apply container-1/2;
        }
        @screen 2xl {
            @apply container-2/5;
        }
    }
}

/* Nice bottom border hover effect; mostly used for navigation */
.with-bottomline {
    transition: 0.3s all ease;
    @apply no-underline relative;

    &:after {
        content: '';
        bottom: -1px;
        transform: translateX(-50%);
        transition: 0.26s cubic-bezier(0.69, 0.14, 0.05, 1.31);

        @apply block absolute h-0 left-0 w-0 bg-primary-500;
    }

    &:hover,
    &.active {
        @apply text-primary-500 no-underline;

        &:after {
            left: 50%;
            width: 30%;
            height: 1px;
        }
    }
}

/* Icon label hover effect */
.icon-label {
    .icon-label-icon {
        @apply inline-block transform;
        @extend .transition-150;
    }

    &:hover {
        .icon-label-icon {
            @apply scale-110;
        }
    }
}

.hierarchy-sub-level {
    .hierarchy-sub-level\:block {
        @apply block;
    }
}
