// NOTIFICATIONS
.alert{
    padding: $spacy $spacy * 1.5;
    display: flex;
    border-radius: $notification-border-radius;
    position: relative;
    width: 100%;
    justify-content: space-between;
    @extend .raised;
    & .alert__copy{
      color: $color-white;
    }
    & .alert__btn{
      cursor: pointer;
      border-radius: $notification-border-radius;
      padding: $spacy;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      transition: $transition;
    }
}


$alert-name: primary secondary success warning error information;
$colors: $color-primary $color-secondary $color-success $color-warning $color-error $color-information;

@each $alert in $alert-name{
  $i: index($alert-name, $alert);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .alert--#{$alert}{
      background-color: $color;
      border: 1px solid darken($color, 10%);
      .alert__btn{
        color:  $color;
        background-color: rgba($color-dark, 0.25);
        &:hover{
          background-color: rgba($color-white,1);
        }
      }
    }

}
