* text=auto
*.css linguist-vendored
*.less linguist-vendored

# Ignore all tests and documentation
/tests          export-ignore
/docs           export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
