* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore

# Ignore all gdocumentation
/docs           export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
