##########################################
# CODING
##########################################
/database/testing.sqlite
/database/testing.sqlite-journal
_migration/uploads
/storage/debugbar
/storage
/vendor
/.idea
.env
/report
/docs/_site
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
build/

##########################################
# BUILDING
##########################################
/node_modules
/npm-debug.log
/yarn-error.log

##########################################
# USERLAND
##########################################
/public/media
/public/uploads
/storage/medialibrary
/storage/*.key
/tests/Shared/tmp
