##########################################
# CODING
##########################################
_migration/uploads
/storage/debugbar
/storage
/vendor
/.idea
.env
/report
/docs/_site
.phpunit.result.cache

##########################################
# BUILDING
##########################################
/node_modules
/npm-debug.log
/yarn-error.log

##########################################
# USERLAND
##########################################
/public/media
/public/uploads
/storage/medialibrary
/storage/*.key
