/node_modules
/public/storage
/public/uploads
/public/hot
/public/fonts
/public/vendor
/storage/*.key
/storage/debugbar
/storage/medialibrary
/vendor
/report
/public/media
/.idea
Homestead.json
Homestead.yaml
.env
/docs
brokenlinksshort.txt

