includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - src
        - app

    excludePaths:
        analyse:
            - src/*/Tests
            - src/*/*/Tests
            - src/**/Tests/**/*.blade.php
            - tests/

    # The level 10 is the highest level
    level: 1

    noModelMake: false

    ignoreErrors:
        - '#Unsafe usage of new static#'

