<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php"
         colors="true" processIsolation="false" stopOnError="true" stopOnFailure="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="application">
            <directory suffix="Test.php">./tests/Application</directory>
        </testsuite>
        <testsuite name="forms">
            <directory suffix="Test.php">./src/Forms/Tests</directory>
        </testsuite>
        <testsuite name="assets">
            <directory suffix="Test.php">./src/Assets/Tests</directory>
        </testsuite>
        <testsuite name="fragments">
            <directory suffix="Test.php">./src/Fragments/Tests</directory>
        </testsuite>
        <testsuite name="menu">
            <directory suffix="Test.php">./src/Menu/Tests</directory>
        </testsuite>
        <testsuite name="table">
            <directory suffix="Test.php">./src/Table/Tests</directory>
        </testsuite>
        <testsuite name="sites">
            <directory suffix="Test.php">./src/Sites/Tests</directory>
        </testsuite>
        <testsuite name="urls">
            <directory suffix="Test.php">./src/Urls/Tests</directory>
        </testsuite>
        <testsuite name="plugins">
            <directory suffix="Test.php">./src/Plugins</directory>
        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <clover outputFile="build/clover.xml"/>
            <cobertura outputFile="build/cobertura.xml"/>
            <crap4j outputFile="build/crap4j.xml" threshold="50"/>
            <html outputDirectory="build/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="build/coverage.php"/>
            <text outputFile="build/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="build/xml-coverage"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <php>
        <env name="APP_KEY" value="base64:qS0gL9WK3DppyaiXy79dURhU+ecb6k9aryqyOmpHjF8="/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>./routes.php</file>
        </exclude>
    </source>
</phpunit>
