.custom-file {
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
    top: 0;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
input[type='file'] {
    opacity: 0;
    padding: 0.5rem 1rem;
    position: absolute;
}
.custom-file-input {
    position: absolute;
    width: 100%;
    top: 0;
    overflow: hidden;
    padding: 0.5rem 1rem;
    &::before {
        content: attr(data-title);
    }
    &::after {
        content: attr(data-button);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        line-height: 1rem;
        padding: 0.75rem;
        border-left: 1px solid $color-subtle;
        background-color: lighten($color-subtle, 30%);
    }
}
