select {
    padding: $spacy;
    background: transparent;
    border: 1px solid $color-border;
    border-radius: $default-border-radius;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}
.select-wrapper {
    position: relative;
    &:after {
        display: block;
        // Icon
        font-family: 'linearicons';
        content: '\e874';
        // Position
        position: absolute;
        right: $spacy;
        top: 50%;
        transform: translateY(-50%);
    }
}
