.checkbox-delete {
  display: none;
}

.media-gallery .media {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border: 5px solid #eeeeee;
}

.media-gallery .media:hover {
  -webkit-box-shadow: 5px 5px 15px 0px #d8d8d8;
          box-shadow: 5px 5px 15px 0px #d8d8d8;
  cursor: pointer;
}

.media-gallery .media:hover .checkbox-delete {
  display: block !important;
}

.media.selected {
  border: 5px solid #4a89dc;
}

.media.selected .fa {
  color: #4a89dc;
}

.overflow-ellipsis {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.gallery-item {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.upload-open #sidebar_right.uploadForm {
  right: 0;
}

#sidebar_right.detail-open {
  right: 0;
  z-index: 10;
}

.upload-open #content_wrapper,
.sidebar-media-open #content_wrapper {
  margin-right: 300px;
}

/*HOVER IMAGE TO OPEN DETAIL PANEL*/

.image-preview {
  position: relative;
}

.image-preview:after {
  content: "";
  display: table;
  clear: both;
}

.image-preview img:hover,
.showDetailPanel picture {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.image-preview img:hover,
.showDetailPanel:hover picture {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: 0.5;
}

.image-preview img {
  z-index: 1;
  position: relative;
}

.image-preview:hover:after {
  content: '\F002';
  z-index: 0;
  color: black;
}

.showDetailPanel:hover:after {
  content: '\F06E   Meer details';
  z-index: 999;
}

.image-preview:hover:after,
.showDetailPanel:hover:after {
  font-family: 'fontawesome', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFF;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  display: block;
}

.fileupload .thumbnail {
  max-height: 300px;
  overflow: hidden;
}

/* --------- BEGIN USERS VIEW ------------ */

.bringtofront {
  z-index: 999;
  position: relative;
}

.rm-padding-top {
  padding-top: 0px !important;
}

.badge {
  height: 20px;
  width: 20px;
  font-size: 1rem;
  line-height: 14px;
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 3px 0px;
  cursor: help;
}

.darkblue {
  background-color: #4A89DC;
}

.blue {
  background-color: #3BAFDA;
}

.orange {
  background-color: #F6BB42;
}

.red {
  background-color: #EC6F5A;
}

.list-label {
  font-size: 1rem;
}

.panel-control-title {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.panel-control-title:hover {
  color: #3BAFDA;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.panel-control-remove {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.panel-control-remove:hover {
  color: #E9573F;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.gridicon {
  width: 20px;
  text-align: center;
}

.responsive-column-1,
.repsonsive-column-2 {
  display: inline-block;
}

@media screen and (max-width: 1300px) {
  .responsive-column-1 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .responsive-column-2 {
    display: none;
  }
}

/* --------- END USERS VIEW ------------ */

.rolename,
.rolepermission {
  display: inline-block;
  padding-bottom: 5px;
}

.rolename {
  width: 150px;
}

.rolepermission span {
  padding: 0 10px;
  color: white;
}

.table > tbody > tr > td {
  vertical-align: top;
}

.admin-form .panel-heading {
  padding: 6px 21px;
}

.admin-form .panel-title {
  font-size: 16px;
}

.subtle-btn {
  padding: 1px 13px;
  display: inline-block;
  background-color: #dddddd;
  border-radius: 9px;
  font-size: 11px;
  cursor: pointer;
}

.subtle-btn:hover,
.subtle-btn:focus {
  background-color: #40b2e5;
  color: #ffffff;
  text-decoration: none;
}

.btn-error,
a.btn-error {
  background-color: #ED7764;
  color: #ffffff;
  cursor: pointer;
}

.btn-error:hover,
.btn-error:focus,
a.btn-error:hover,
a.btn-error:focus {
  color: #ffffff;
  background-color: #e84f36;
  text-decoration: none;
}

.form-inline {
  display: inline-block;
}

.breadcrumb {
  padding: 8px 15px;
}

.navbar-brand img {
  max-height: 96%;
}

.admin-form .switch > input + label:after,
.admin-form .switch > input:checked + label:after {
  margin-top: -2px;
}

a,
a:focus,
a:active {
  color: #149560;
}

a:hover {
  color: #11794E;
}

.topbar-left h3 {
  margin: 18px 0;
}

.topbar-left .topbar-inside-right {
  float: right;
  margin-top: -6px;
  /* nice alignment with h3 header text */
}

.rounded {
  border-radius: 15px;
}

.circle {
  border-radius: 50%;
}

/* FILEUPLOAD */

.thumbnail {
  display: inline-block;
}

.thumb-preview-circle .cr-vp-square {
  border-radius: 50%;
}

.thumb-preview-rounded .cr-vp-square {
  border-radius: 15px;
}

.croppie-container {
  padding: 0;
  padding-bottom: 30px;
}

a {
  color: #6eb04e;
}

a:hover,
a:focus,
a:active {
  color: #639e46;
}

.text-error {
  color: #ED7764;
}

/* row status lines - enforce color of table rows */

.row-text-default {
  color: #999999;
}

.row-text-default a {
  color: #999999;
}

.row-text-danger {
  color: #ED7764;
}

.row-text-danger a {
  color: #ED7764;
}

.subtle-remark {
  font-size: 0.8em;
  padding-top: 6px;
  font-style: italic;
  color: #bbbbbb;
}

.subtle {
  color: #999999;
  font-size: 0.8em;
}

a.subtle-danger:hover,
a.subtle-danger:focus,
a.subtle-danger:active {
  color: #e9573f;
  text-decoration: none;
}

.admin-form label.subtle {
  font-size: 0.8em;
  color: #999999;
}

.admin-form th a {
  color: inherit;
  text-decoration: none;
}

hr.xsmall {
  margin: 10px 0;
}

/* nested-categories */

.nested-item {
  margin: 3px 0;
  padding: 3px 5px;
  list-style: none outside none;
  color: #777;
  font-weight: normal;
  border-radius: 0;
  cursor: move;
}

/* Sortable */

.sortable .list-group-item {
  padding: 5px 8px;
}

.sortable .current {
  background-color: rgba(110, 176, 78, 0.1);
}

.sortable-chosen {
  background-color: rgba(110, 176, 78, 0.1);
  border: none;
  color: transparent;
}

.sortable-ghost {
  background-color: rgba(110, 176, 78, 0.4);
  color: black;
  zoom: 1.1;
}

.sortable .list-group-item:hover {
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

