.dropdown{
    position: relative;
    z-index: 12;
    .dropdown--content{
        transition: all 150ms linear;
        opacity: 0;
        visibility: hidden;
        display: block;
        overflow: hidden;
        &.open{
            opacity: 1;
            visibility: visible;
            margin-top: 1px;
        }
        ul li{
            border-bottom: 1px solid $color-border;
            transition: $transition;
            a{
                display:block;
                text-decoration: none;
                cursor: pointer;
                @extend .squished;
                @extend .font-s;
                color:inherit;
                &:hover{
                    color: $color-primary;
                }
            }
            &:hover{
                color: $color-primary;
            }
            &:last-child{
                border-bottom: 0;
            }
        }
    }
    &:hover{
        .dropdown--content{
            opacity: 1;
            visibility: visible;
        }
    }
}

.dropdown--content{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    padding-left: 0;
    float: left;
    -webkit-background-clip: padding-box;
    border: 1px solid $color-border;
    border-radius: $dropdown-border-radius;
    background-color: $color-white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
}