ul.listgroup{
  margin: 0;
  padding: 0;
  border: 1px solid $color-border;

  li{
    list-style: none;
    border-bottom: 1px solid $color-border;
    &:last-child{
      border-bottom: none;
    }
    &:hover{
      color: $color-subtle;
      background-color: $color-border;
    }
  }
}
