/* List items */
.list{

    a:hover{
        text-decoration:none;
    }

    position: relative;
    background-color: $color-white;
    border: 1px solid lighten($color-border,7%);
    border-left: 1px solid $color-border;
    margin-bottom: 0.5rem;
    &:last-of-type {
        margin-bottom: 0;
    }
    .list-tag{
        background-color: $color-border;
        border-radius: $btn-border-radius;
        @extend .squished-s;
    }
    .dropdown{
        display: none;
        .icon-more-horizontal{
            color: $color-primary;
        }
        .dropdown-content {
            @extend .text-right;
            button{
                cursor: pointer;
                background-color: $color-body;
                &.edit{
                    color: $color-font;
                    &:hover{
                        color: $color-primary;
                    }
                }
                &.delete{
                    color: $color-font;
                    transition: 0.3s ease-in-out all;
                    &:hover{
                        color: $color-error;
                    }
                }
            }
        }
    }

    .online{
        color: $color-primary;
    }

    &:hover .dropdown {
        display: inline-block;
    }

    // Flairs
    &.--error{ border-left: 1px solid $color-error; }
    &.--warning{ border-left: 1px solid $color-warning; }
    &.--success{ border-left: 1px solid $color-success; }
}
