// NAVIGATION
.navbar{
    ul,ol{
        float: left;
        margin: 0;
        li{
            float: left;
            list-style: none;
        }
    }
}

.nav-pill{
    border-radius: $navpills-border-radius;
    transition: $transition;
    cursor: pointer;
    position: relative;
    text-align: center;

    a{
        text-decoration: none;
        display: inline-block;
    }
    .badge{
        position: absolute;
        top: 0;
        left: 50%;
        min-width: 2.5rem;
    }
    &:hover{
        background-color: lighten($color-border,10%);
    }
}

.nav-pills .icon {
    display: block;
    font-size: 2em;
    padding: 1rem 0;
}

$block-name: default primary secondary;
$colors: $color-font $color-primary $color-secondary;

@each $block in $block-name{
    $i: index($block-name, $block);
    // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .nav-pills-#{$block} li{
        > a{
            color: $color;
        }
    }
}