// PANELS
.panel{
    border: 1px solid $color-border;
    border-radius: $panel-border-radius;
    background-color: $color-white;
    overflow: hidden;
    transition: ease-in-out all .3s;
    position: relative;
    &:last-child{
        border-bottom: 1px solid $color-border;
    }
}

$panel-name: default primary secondary tertiary;
$colors: $color-font $color-primary $color-secondary $color-tertiary;

@each $panel in $panel-name{
    $i: index($panel-name, $panel);
    // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .panel-#{$panel}{
        .panel-header a,
        .panel-header button{
            text-decoration: none;
            cursor: pointer;
            color: $color;
        }
        .panel-footer{
            color: $color;

            h4,h3{
                margin-top: 0;
                color: $color;
            }
            .old-price{
                color: $color-border;
            }
            .new-price{
                color: $color;
            }
        }
        &.--filled {
            background-color: $color;
            color:$color-white!important;
            border-color: $color;
            .panel-header,
            .new-price,
            h4, h3, p{
                color:$color-white;
            }
            .old-price{
                color:darken($color, 20%);
            }

            .panel-header a{
                &:hover{
                    color: darken($color, 20%);
                }
            }
        }
    }
}
