.tabs-nav{
    border-bottom:1px solid $color-subtle;

    li{
        display:inline-block;
    }
}

.tabs {
    width:100%;
    display:inline-block;
}
.clearfix{
    &:before,
    &:after{
        content: " ";
        display: table;
    }
}

// THIS IS VERY SPECIFIC FOR TRANSLATION TAB NAVIGATION
.translation-tabs-nav {
    a{
        cursor: pointer;
        margin-bottom: -1px;
        display:inline-block;
        border-radius:none;
        border: 1px solid $color-tab-border;
        text-decoration:none;
        .flag{
            opacity: 0.3;
        }
        &:hover {
            background: $color-tab-body;
            .flag{
                opacity: 1;
            }
        }
        .tabs-name{
            display: none;
        }
        &.tab-error{
            border: 1px solid $color-error;
            color: $color-error;
        }
    }

    a.active, a.active:hover {
        background:$color-tab-body;
        color:$color-tab-dark;
        border: 1px solid $color-tab-border;
        .flag{
            @extend .inline-s;
            opacity: 1;
        }
        .tabs-name{
            display: inline;
        }
    }
}

.panel-tabs-round{
    li:first-child{
        border-top-left-radius: $tab-border-radius;
    }
    li:last-child{
        border-top-right-radius: $tab-border-radius;
    }
}
