.tree-wrapper {
    text-align: left;
    display: block;
    user-select: none;
    ul{
        margin: 0;
    }
    .tree-level-1{
        list-style: none;
    }
    :not(.tree-level-1){
        li {
            margin-left: $space-l;
            overflow: hidden;
            height: 0;
            display: block;
        }
    }

    label {
        @extend .squished-s;
        display: block;
        cursor: pointer;
        color: $color-subtle;
        border: 1px solid $color-border;
        margin-bottom: $space-s;
        transition: $transition;
        &:hover {
            color: $color-primary;
            background-color: $color-border;
        }
        .icon{
            color: $color-font;
        }
    }

    [type="checkbox"] {
        display: none;
        &:checked ~ label{
            background-color: $color-shadow;
            color: $color-subtle;
            border-color: $color-border;
        }
        &:checked + label:hover{

        }
        &:checked ~ ul > li {
            height: auto;
        }
        &:checked ~ .treeview-item .icon{
            display: inline-block;
            transform: rotate(180deg);
        }
    }
}
