.formgroup{

    /* override the default gutter margin-bottom */
    .formgroup-info, .formgroup-input{
        margin-bottom:0;
    }

    h2{
        font-size:1em;
        text-transform: uppercase;
    }
}

// Field addons (prepend or appending fixed content in input field)
.input-addon {

    display: flex;

    .input{
        flex: 1;

        &:not(:first-child) {
            border-left: 0;
        }
        &:not(:last-child) {
            border-right: 0;
        }
    }

    .addon{
        background-color: #f4f6f5;
        border: 1px solid #dadada;
        color: #666666;
        font: inherit;
        font-weight: normal;
    }

    .input:first-child, .addon:first-child{
        border-radius: 5px 0 0 5px;
    }

    .input:last-child, .addon:last-child{
        border-radius: 0 5px 5px 0;
    }
}

// Reset input submit
input[type="submit"]{
    @apply cursor-pointer border-none outline-none p-0;
}

textarea,
input[type='text'],
input[type='email'],
input[type='url'],
input[type='number'],
input[type='search'],
input[type='phone'],
input[type='password'],
input[type='file'],
.custom-file-input {
    font-family: config('theme.fontFamily.sans');
    @apply w-full rounded border border-grey-200;

    &:focus{
        box-shadow: 0 1px 5px -1px config('theme.colors.grey.200');
        @apply outline-none border border-grey-200;
    }
    &::placeholder{
        @apply text-grey-200;
    }
}

// SEARCH
.search-wrapper{
    @apply relative;
    &:after{
        font-family: 'linearicons';
        content: '\e86f';
        top: 50%;
        transform: translateY(-50%);
        @apply block absolute;
    }
}


// ERRORS AND VALIDS
.valid{
    @apply text-success;
    textarea,
    input[type='text'],
    input[type='email'],
    input[type='url'],
    input[type='password']{
        @apply text-success border border-success;
    }
}
.error{
    @apply text-error;
    textarea,
    input[type='text'],
    input[type='email'],
    input[type='url'],
    input[type='password']{
        @apply text-error border border-error;
    }
    .input-prefix{
        @apply text-error;
    }
}
