// .tabs-nav {
//     @apply border-b-1 border-primary-500;
//     li {
//         @apply inline-block;
//     }
// }

// .tabs {
//     width:100%;
//     display:inline-block;
// }
// .clearfix{
//     &:before,
//     &:after{
//         content: " ";
//         display: table;
//     }
// }

// // THIS IS VERY SPECIFIC FOR TRANSLATION TAB NAVIGATION
// .translation-tabs-nav {
//     a{
//         cursor: pointer;
//         margin-bottom: -1px;
//         display:inline-block;
//         border-radius:none;
//         border: 1px solid $color-border;
//         text-decoration:none;
//         .flag{
//             opacity: 0.3;
//         }
//         &:hover {
//             background: $color-body;
//             .flag{
//                 opacity: 1;
//             }
//         }
//         .tabs-name{
//             color: $color-subtle;
//         }
//         &.tab-error{
//             border: 1px solid $color-error;
//             color: $color-error;
//         }
//     }

//     a.active, a.active:hover {
//         background:$color-body;
//         color:$color-emphasis;
//         border: 1px solid $color-border;
//         .flag{
//             @extend .inline-s;
//             opacity: 1;
//         }
//         .tabs-name{
//             color: inherit;
//         }
//     }
// }