/* product thumbs and image uploads */
.thumb {
    min-height: 80px;
    min-width: 80px;
    @apply flex justify-center items-center h-full w-full rounded-lg shadow-lg;

    /* SLIM CROPPER OVERRIDES */
    .slim {
        @apply rounded-lg h-full w-full;
    }
  
    .slim .slim-btn-group {
        transition: all .2s ease-out;
        transform: translateY(6px);
        @apply py-2 opacity-0;
    }
  
    .slim:hover .slim-btn-group{
        transform: translateY(0);
        @apply opacity-100;
    }
  
    .slim-btn {
        width: 25px;
        height: 25px;
    }
  
    .slim .slim-area .slim-status{
        @apply p-0;
    }
  
    .slim-label {
        @apply text-sm;
    }
  
    .slim .slim-area .slim-loader{
        right: 50%;
        top: 50%;
        margin-right: -12.5px; // width and height of loader is 23px
        margin-top: -12.5px;
    }
}
  
.thumb-new {
    @apply border-2 border-dashed rounded-lg relative text-grey-500;
  
    &.is-dragging-over {
        @apply border-primary-500;
    }
  
    &:hover {
        @apply cursor-pointer bg-white;
    }
  
    &.is-dropped {
        @apply border-solid;
    }
  
    .icon {
        font-size: 24px;
    }
    
    input[type="file"] {
        @apply absolute top-0 left-0 right-0 bottom-0 p-0 cursor-pointer opacity-0;
    }
}

.thumb [data-state="empty"] {
    transition: background-color .3s ease-in;
    @apply border-2 border-dashed rounded-lg text-grey-500;   
    
    &:hover {
        @apply cursor-pointer bg-grey-500;
    }
}
  
/* Indicate thumb as default image */
.thumb-default{
    @apply border-2 text-grey-500;
}
  
.slim-result .out{
    opacity: 0.2 !important;
}


.sorting-mode{
    .thumb-new{
        @apply hidden;
    }
}

[draggable="true"]{
    @apply relative;

    &:after{
        @apply absolute top-0 left-0 w-full h-full;

        content:"";
        background-color:rgba(255,255,255,.4);
    }

    .slim-btn-group, .slim-file-hopper, .slim-status, .slim-upload-status, .slim-drip{
        @apply invisible;
    }
}