.translation-sidemenu{
    @apply w-1/5;

    ul {
        list-style: none;
        top: 50px;
        text-align: left;
    }

    .anchor-item{
        @apply block no-underline text-grey-500;

        &:hover {
            @apply bg-grey-200;
            a {
                @apply text-grey-500;
            }
        }
        &.active {
            @apply relative bg-grey-200;
            a {
                @apply text-grey-500;
            }
        }
    }
}

.tab-block{
    .tab-content{
        scroll-behavior: smooth;
        @apply w-full;
        .section-divider {
            @apply relative py-3 px-4 uppercase font-bold border-b border-grey-200 bg-grey-200;
            .divider-locale {
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                @apply absolute;  
            }
            &:not(:first-child){
                @apply mt-8;
            }
        }
        .form-group {
            @apply text-grey-500 py-3 px-4;
        }
    }
}
