/***********************************************
*	LOGO COLORS							   *
***********************************************/
$green: #149560;
$red: #e42f17;
$black: #000;

/***********************************************
*	OTHER COLORS							   *
***********************************************/
$white: #FFF;
$light-grey: #F3F3F3;
$grey: #5d5d5d;
$dark-grey: #383838;
$blue-grey: #e8e9ee;


/***********************************************
*	BG COLORS							   *
***********************************************/

.bg-green{
    background-color: $green;
}

.bg-bluegrey{
    background-color: $blue-grey;
}

.bg-404{
    background-color: #FBF8F8;
}