// TYPOGRAPHY
h1,h2,h3,h4,h5{
  font-family: $font-family-serif;
  color: $color-heading
}
body,
p{
  font-family: $font-family-sans-serif;
  color: $color-font;
}
ul, ol{
  word-break: break-word;
  padding-left: 0;
}
ol li{
  list-style: inherit;
}