.footer {
    background: #f3f3f3 url(../img/footer/stars.png) no-repeat right top;
    padding: 2rem 0; 
    height: 100%;
    
    a{
        text-decoration: none;
        
        &:hover{
            text-decoration: underline;
            color: $green;
        }
    }
    
    h1{

        font-size: 25px;
    }
    
    ul{
        list-style: none;
        padding: 0;
        color: $grey;
        
        li{
            padding: 10px 0;
            
            strong{
                font-weight: normal;
            }
            br{
                display: none;
            }
        }
    }
    
    span{
        background-color: $green;
    }
}

@include tablet{
    .footer-list.pull-right{
        float: none!important;
    }
}

