.flexMenu-viewMore li {
    display: inline-block;
    width: 300px;
    background: #DFDDDC;
    border-bottom: 1px solid #cecccb;
}

.linkedin-icon{
    width: 55px;
    top: -2px;
    position: relative;
}