ul.listgroup{
  margin: 0;
  padding: 0;
  border: 1px solid $color-border;

  li{
    list-style: none;
    border-bottom: 1px solid $color-border;
    padding: 0.5rem 0.75rem;
    transition: all 0.15s ease-in-out;
    &:last-child{
      border-bottom: none;
    }
    &:hover{
      color: $color-white;
      background-color: $color-subtle;
      padding-left: 1rem;
    }
  }
}
