// TYPOGRAPHY
h1,h2,h3,h4,h5{
  font-family: $font-family-secondary;
  font-weight: 700;
  color: $color-heading;
}
body,
p{
  font-family: $font-family-primary;
  font-weight: 400;
  color: $color-font;
}
ul, ol{
  word-break: break-word;
  padding-left: 0;
}
ol li{
  list-style: inherit;
}

blockquote{
  padding: 1.2em;
  background: $color-subtle;
  border-left: 2px solid lighten($color-secondary, 30%);
}

pre{
  margin:0;
}

code{
  display: inline-block;
  background: lighten($color-subtle, 30%);
  padding: .1em;
}
