// Using Tailwind config color variables is not possible when working with Sass color functions.
// This is a duplicate list of the colors used by these functions.

$color-primary: #A2E3D3;
$color-secondary: #F29177;
$color-tertiary: #FFFDD0;
$color-grey: #5C4456;

$color-success: #7dc68c;
$color-warning: #ffb355;
$color-error: #df5959;
$color-information: #4fa6db;
