// Using Tailwind config color variables is not possible when working with Sass color functions.
// This is a duplicate list of the colors used by these functions.

$color-primary: #a2e3d3;
$color-secondary: #f29177;
$color-tertiary: #fffdd0;
$color-grey: #5c4456;

$color-success: #7dc68c;
$color-warning: #ffb355;
$color-error: #df5959;
$color-information: #4fa6db;
