html, body {
    font-family: 'Magra', sans-serif;
    font-size: 14px;
    @apply tracking-wide font-normal;
}

h1, h1:not(:last-child) {
    @apply text-3xl;
}

h1.mb-0, h2.mb-0, h3.mb-0 {
    @apply mb-0;
}

h1, h2, h3, h4, h5 {
    @apply font-bold text-grey-600 tracking-normal;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

p, body {
    @apply font-normal text-grey-500;
}

a {
    @apply text-primary-500;
}

ul, ol {
    @apply break-words pl-0;
}

ol li {
    list-style: inherit;
}

blockquote {
    @apply p-4 text-grey-300 border-l-2 border-secondary-300;
}

pre {
    @apply m-0;
}

code {
    @apply inline-block text-grey-300 p-1;
}

:focus{
    outline: none;
}
