/*
 |
 | LOGIN.CSS
 | ---------
 | Deze file staat apart omdat het loginscherm los staat van de default layout.
 | De opmaak toont zich op de pagina thinktomorrow.be/chief en is zichtbaar voor zowel
 |  adminbeheerders als de gebruikers.
 |
*/

$color-primary: #13c6a6;

::-moz-selection {
    @apply bg-primary-500 text-white;
}
::selection {
    @apply bg-primary-500 text-white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply w-full h-screen m-0;
}

a {
    @apply text-grey-700 no-underline;
}

a:hover {
    @apply text-primary-500;
}

main {
    @apply w-full h-full flex;
}

aside {
    background: $color-primary url('../img/logo.svg') no-repeat center center;
    background-size: 100%;
    @apply w-4/5 flex items-end;
}

section {
    -webkit-box-shadow: -10px 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: -10px 0px 20px 0 rgba(0, 0, 0, 0.2);
    @apply flex justify-start items-center overflow-y-auto w-full pl-24 pr-8 py-8;
}

.login-wrapper {
    max-width: 400px;
    @apply w-full;
}

.input-group-prefix {
    @apply relative inline-block w-full;
}

.input-group-prefix span.lnr {
    bottom: 33px;
    @apply absolute;
}

.form label {
    @apply float-left py-2;
}

.form input[type='text']:focus,
.form input[type='email']:focus,
.form input[type='password']:focus {
    @apply border-b border-grey-700;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'] {
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    @apply outline-none bg-white w-full border-t-0 border-l-0 border-r-0 border-b border-grey-50 mb-4 py-4 px-8;
}

.form input[type='checkbox'] {
    @apply mr-4;
}

.form button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    @apply outline-none w-1/2 bg-grey-700 border-none text-white font-bold cursor-pointer rounded-full p-4 my-4;
}

.form button:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease;
}

.form button:hover,
.form button:active,
.form button:focus {
    @apply bg-primary-500;
}

.form .error {
    @apply text-error;
}

.form .succes {
    @apply text-success;
}

.form .message {
    @apply block my-4;
}

.form .message a {
    @apply text-primary-500 no-underline;
}

.form .register-form {
    @apply hidden;
}

footer {
    @apply absolute bottom-0 right-0 text-center px-4 py-2;
}

/*TOGGLE PWD*/
.showHideInput {
    @apply hidden;
}

.showHideLabel {
    right: 55px;
    margin-top: -50px;
    @apply absolute;
}
