$color-primary: #13c6a6;

/*
 |
 | LOGIN.CSS
 | ---------
 | Deze file staat apart omdat het loginscherm los staat van de default layout.
 | De opmaak toont zich op de pagina thinktomorrow.be/chief en is zichtbaar voor zowel
 |  adminbeheerders als de gebruikers.
 |
*/
::-moz-selection {
  background-color: $color-primary;
  color: #FFF;
}
::selection {
  background-color: $color-primary;
  color: #FFF;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 14px;
}

a {
  color: #353535;
  text-decoration: none;
}

a:hover {
  color: $color-primary;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  background: $color-primary url("../img/logo.svg") no-repeat center center;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

section {
  padding: 45px;
  -webkit-box-shadow: -10px 0px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -10px 0px 20px 0 rgba(0, 0, 0, 0.2);
  padding-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-y: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.login-wrapper {
  max-width: 400px;
  width: 100%;
}

.input-group-prefix {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-group-prefix span.lnr {
  position: absolute;
  bottom: 33px;
}

.form label {
  float: left;
  padding: 0 0 10px 0;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=password]:focus {
  border-bottom: 1px solid #353535;
}

.form input[type=text],
.form input[type=email],
.form input[type=password] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom: 1px solid #E4E4DD;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.form button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #353535;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  margin: 15px 0;
}

.form button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.form button:hover, .form button:active, .form button:focus {
  background: $color-primary;
}

.form .error {
  color: #e74c3c;
}

.form .succes {
  color: #97c93c;
}

.form .message {
  margin: 15px 0;
  display: block;
}

.form .message a {
  color: $color-primary;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 15px;
}

/*TOGGLE PWD*/
.showHideInput {
  display: none;
}

.showHideLabel {
  position: absolute;
  right: 55px;
  margin-top: -50px;
}
