@charset "UTF-8";

/*
 | ----------------------------------------------------------------
 | Container margins columns
 | ----------------------------------------------------------------
 |
 | By default the container has an equal margin to the left and right.
 | These margins are responsive depending on the viewport width.
 | Here you can define the maximum value.
 */
$container-margin: 16% !default;

/*
 | ----------------------------------------------------------------
 | Grid columns
 | ----------------------------------------------------------------
 |
 | By default the grid consists of 12 blocks but you can set this whatever you like.
 | If you feel experimental, we suggest some good alternatives such as a 10 or 15 block division.
 */
$grid-columns: 12 !default;

/*
 | ----------------------------------------------------------------
 | Base font size
 | ----------------------------------------------------------------
 |
 | The default font-size. This is also the value on which all font based spacings
 | and sizings are measured upon. By default this is set to 0.875em. Depending on
 | your font family of choice this should be changed to a proper default.
 */
$base-font-size:  0.875em;

/*
 | ----------------------------------------------------------------
 | Size ratios
 | ----------------------------------------------------------------
 |
 | Based upon the base font size, here we set the font-size ratios for the
 | different screen sizes. These values are carefully selected to
 | allow for a responsive typography. Important since
 | font-size determines the sizing of a lot of components
 */
$ratio-xs: 0.8;
$ratio-s: 0.9;
$ratio-m: 1.0;
$ratio-l: 1.1;
$ratio-xl: 1.2;
$ratio-xxl: 1.4;

/*
 | ----------------------------------------------------------------
 | Spaces
 | ----------------------------------------------------------------
 |
 | Based upon the base font size,  These values determine the
 | spacing of elements like margins and paddings. These settings
 | are the base of all responsive sizings.
 */
$space-xs: 0.375rem;
$space-s: 0.75rem;
$space-m: 1.5rem;
$space-l: 3rem;
$space-xl: 6rem;

// Line-height
$base-line-height: 1.5;
$header-line-height: 1.25;

/*
 | ----------------------------------------------------------------
 | Grid breakpoints
 | ----------------------------------------------------------------
 |
 | Breakpoints are mainly used for updating the base font size. Warpaint
 | is mobile first and encourages to use as little breakpoints as
 | possible. We use relative units to account for proper zooming of the webpage.
 */
$bp-xsmall: 20em; // 320px
$bp-small: 30em; // 480px
$bp-medium: 48em; // 768px
$bp-large: 64em; // 1024px
$bp-xlarge: 85em; // 1365px
$bp-xxlarge: 120em; // 1920px

/*
 | ----------------------------------------------------------------
 | Sizes array
 | ----------------------------------------------------------------
 |
 | All sizes are set in array for easy access within the sass compilation
 | You should not edit this list unless you plan on expanding the
 | spacing sizes.
 */
$sizes: (xs : $space-xs, s : $space-s, m : $space-m, l : $space-l, xl : $space-xl);

/*
 | ----------------------------------------------------------------
 | Custom import
 | ----------------------------------------------------------------
 |
 | Here we fetch all the warpaint files directly from node_modules
 | This allows for a custom build.
 */

@import '../../../node_modules/warpaint/src/sass/_base/normalize';
@import '../../../node_modules/warpaint/src/sass/_base/breakpoints';
@import '../../../node_modules/warpaint/src/sass/_base/base';

@import '../../../node_modules/warpaint/src/sass/_grid/default';
@import '../../../node_modules/warpaint/src/sass/_grid/gutter';
@import '../../../node_modules/warpaint/src/sass/_grid/row';
@import '../../../node_modules/warpaint/src/sass/_grid/sizes';
@import '../../../node_modules/warpaint/src/sass/_grid/responsive';
@import '../../../node_modules/warpaint/src/sass/_grid/container';

@import '../../../node_modules/warpaint/src/sass/_elements/text';

// states
@import '../../../node_modules/warpaint/src/sass/_space/spaces';
@import '../../../node_modules/warpaint/src/sass/_space/responsive';
@import '../../../node_modules/warpaint/src/sass/_base/states';
