/*
 | ----------------------------------------------------------------
 | Base settings
 | ----------------------------------------------------------------
 |
 | Afhankelijk van de fonts die je kiest kan je hieronder de font-size definiëren.
 | Zo ben je zeker van een deftige font-rendering.
 |
 */
    html,body{
      font-size: 14px;
    }
/*
 | ----------------------------------------------------------------
 | Typography
 | ----------------------------------------------------------------
 |
 | Met google fonts kan je twee fonts inladen.
 | Best is dat je een serif en sans-serif font kiest.
 |
 */
    //@import "https://fonts.googleapis.com/css?family=Merriweather|Montserrat:300";

    $font-family-serif:        "Andada";
    $font-family-sans-serif:   "Montserrat";
/*
 | ----------------------------------------------------------------
 | Border Radius
 | ----------------------------------------------------------------
 |
 | een border radius van minder dan 15px zal op ieder element mooi gerenderd worden.
 |
 */
    $default-border-radius: 5px;
    $panel-border-radius: $default-border-radius;
    $label-border-radius: $default-border-radius;
    $badge-border-radius: $default-border-radius;
    $navpills-border-radius: $default-border-radius;
    $dropdown-border-radius: $default-border-radius;
    $notification-border-radius: 0;
    $table-border-radius: $default-border-radius;
    $tab-border-radius: $default-border-radius;
    $thumbnail-border-radius: $default-border-radius;
    $pagination-border-radius: $default-border-radius;

/*
 | ----------------------------------------------------------------
 | Spacing
 | ----------------------------------------------------------------
 |
 | Icon setup.
 |
 */
    $spacy: 0.75rem;

/*
 | ----------------------------------------------------------------
 | Icons
 | ----------------------------------------------------------------
 |
 | Icon setup.
 |
 */
    $base-icon-size: 16px;


/*
 | ----------------------------------------------------------------
 | Smoothness
 | ----------------------------------------------------------------
 |
 | Meestal gebruikt voor hover states e.d.
 |
 */
  $transition: 0.3s ease-in-out all;