.redactor-toolbar {
    z-index: 10 !important;
}

.redactor-box {
    overflow: hidden !important;
    border-radius: theme('borderRadius.md') !important;
    border-color: theme('borderColor.grey.200') !important;
    &:focus {
        border-color: theme('borderColor.primary.500') !important;
    }
}

.redactor-component[data-redactor-type='video'] {
    overflow: scroll !important;
}

.redactor-dropdown [class*='redactor-dropdown-item-'] {
    font-size: 1rem !important;
}

.redactor-modal input[type='checkbox'],
.redactor-modal input[type='radio'] {
    width: 1.25rem !important;
    height: 1.25rem !important;
}
