// BUTTONS
a.btn{
    text-decoration: none;
}
.btn{
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: $transition;
    cursor: pointer;
    &.btn-lg{
        padding: 1rem 2rem;
    }
}

.btn-link{
    display: inline-block;
    &:after{
        content:'';
        display: block;
        height: 1px;
        margin-top: 5px;
        width: 0;
        transition: $transition;
    }
    &:hover{
        &:after{
            width: 100%;
        }
    }
}

.btn-round{
    border-radius: 3rem;
}
.btn-circle{
    height: calc(#{$base-icon-size} * 2);
    width: calc(#{$base-icon-size} * 2);
    padding: 0;
    text-align: center;
    min-width: auto;
    border-radius: 50%;
    line-height: calc(#{$base-icon-size} * 2);
    & .icon{
        font-size: #{$base-icon-size};
        // display: block;
        // margin-top: 50%;
        // transform: translateY(-50%);
    }
}

.btn-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    & > *:first-child{
        margin-right: 1em;
    }
}

$button-name: primary secondary tertiary white success error warning information;
$colors: $color-primary $color-secondary $color-tertiary $color-white $color-success $color-error $color-warning $color-information;

@each $button in $button-name{
    $i: index($button-name, $button);
    // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .btn-#{$button}{
        background-color: transparent;
        color: $color;
        border: 1px solid $color;
        &:hover, &:focus, &:active, &.active{
            background-color: $color!important;
            color: white;
            border: 1px solid $color;
            box-shadow: 0 14px 26px -12px rgba($color, 0.42),
            0 4px 23px 0px rgba($color-emphasis, 0.12),
            0 8px 10px -5px rgba($color, 0.2)
        }
    }
    .btn-o-#{$button}{
        background-color: $color;
        color: $color-white;
        border: 1px solid $color;
        &:hover, &:focus, &:active, &.active{
            background-color: darken($color, 10%);
            border: 1px solid darken($color, 10%);
            box-shadow: 0 14px 26px -12px rgba($color, 0.42),
            0 4px 23px 0px rgba($color-emphasis, 0.12),
            0 8px 10px -5px rgba($color, 0.2)
        }
    }

    .btn-link.text-#{$button}{
        &:after{
            background-color: $color;
        }
    }
}
