// LABELS
$dot-size: 5px;


.label{
    padding: $space-xs / 2 $space-xs;
    display: inline-block;
    position: relative;
    border-radius: $label-border-radius;
}
.label--right{
  &::before{
    content:'';
    left: -($dot-size*1.5);
  }
  &::after{
    content:'';
    left: -($dot-size - 1px);
  }
}


$label-name: primary secondary success warning error information;
$colors: $color-primary $color-secondary $color-success $color-warning $color-error $color-information;;

@each $label in $label-name{
  $i: index($label-name, $label);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .label--#{$label}{
      background-color: $color;
      color: $color-white;
      border: 1px solid $color;
      &::before{
        border-color: transparent $color transparent transparent;
      }
    }
    .label-o--#{$label}{
      background-color: transparent;
      color: $color;
      border: 1px solid $color;
    }
}
