// LABELS
$dot-size: 5px;


.label{
    padding: $space-xs / 2 $space-xs;
    display: inline-block;
    font-size: smaller;
    position: relative;
    border-radius: $label-border-radius;
    &::before{
      border-style: solid;
      border-width: $dot-size*2 $dot-size*2 $dot-size*2 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after{
      width: $dot-size;
      height: $dot-size;
      border-radius: 50%;
      background-color: $color-white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
}
.label--right{
  &::before{
    content:'';
    left: -($dot-size*1.5);
  }
  &::after{
    content:'';
    left: -($dot-size - 1px);
  }
}
.label--left{
  &::before{
    content:'';
    right: -($dot-size*1.5);
    transform: translateY(-50%) scale(-1);
  }
  &::after{
    content:'';
    right: -($dot-size - 1px);
  }
}

$label-name: primary secondary success warning error information;
$colors: $color-primary $color-secondary $color-success $color-warning $color-error $color-information;;

@each $label in $label-name{
  $i: index($label-name, $label);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .label--#{$label}{
      background-color: $color;
      color: $color-white;
      border: 1px solid $color;
      &::before{
        border-color: transparent $color transparent transparent;
      }
    }
    .label-o--#{$label}{
      background-color: transparent;
      color: $color;
      border: 1px solid $color;
    }
}
