// Utility classes
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.flex { display: flex; }

.pull-right{ float: right; }
.pull-left{ float: left; }
.fixed{ position: fixed; }

.--remove-padding{ padding: 0; }

// GOOGLE MATERIAL EFFECT
.--raised {
    box-shadow: 0 16px 38px -12px rgba($color-dark, 0.36),
                0 4px 25px 0px rgba($color-dark, 0.08),
                0 8px 10px -5px rgba($color-dark, 0.08);
}

.--border{
  border: 1px solid $color-border;
}
