// Utility classes
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.flex { display: flex; }

.bold { font-weight: bold; }
.italic { font-style: italic; }

.pull-right{ float: right; }
.pull-left{ float: left; }
.fixed{ position: fixed; }

// Fixate something in the bottom: e.g. alert notification box
.fixed--bottom-right{
  position: fixed;
  bottom: 2rem; right: 2rem;
  width: auto;
}

.--remove-padding{ padding: 0!important; }
.--remove-margin{ margin: 0!important; }

// GOOGLE MATERIAL EFFECT
.--raised {
    box-shadow: 0 16px 38px -12px rgba($color-emphasis, 0.06),
                0 4px 25px 0px rgba($color-emphasis, 0.08),
                0 8px 10px -5px rgba($color-emphasis, 0.08);
    }

.--border{
  border: 1px solid $color-border;
}

/* Nice bottom border hover effect; mostly used for navigation */
.--bottomline{
  text-decoration:none;
  position:relative;
  transition: $transition;

  &:after{
    transition: .26s cubic-bezier(0.69, 0.14, 0.05, 1.31);
    content:"";
    display:block;
    position:absolute;
    bottom: -1px;
    height: 0;
    left: 0;
    width: 0;
    transform: translateX(-50%);
    background-color: $color-primary;
  }

  &:hover, &.active{
    color:$color-primary;
    text-decoration:none;

    &:after{
      left: 50%;
      width: 30%;
      height:2px;
    }
  }
}

.cursor-pointer{
  cursor: pointer;
}

.min-h-screen{
  min-height: 100vh;
}
