a.btn{
    text-decoration: none;
    text-transform: uppercase;
}
.btn{
    padding: 15px;
    display: inline-block;
    color: inherit;
    background-color: inherit;  
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover, &:focus, &:active, &.active{
        background-color: $white;
        color: $primary;
        border: 1px solid $white;
    }

}