.rolename,
.rolepermission {
    display: inline-block;
    padding-bottom: 5px;
    margin-right: -4px;
}

.rolename {
    width: 150px;
}

.fancytree-container {
    border: none !important;
    .fancytree-icon {
        display: none;
    }
}
