.top-nav {
    z-index: $z-index-nav;
}

/** because of the extend cascading bug, we must declare our padding separate */
.top-nav .nav-item {
    @extend .squished;
}

.nav-item {
    display: block;
    cursor: pointer;
    @extend .text-black;
    @extend .--bottomline;
    text-decoration: none;
}

.logo {
    transform: scaleX(-1);
}

.top-nav,
.header-nav {
    border-bottom: 1px solid $color-border;
    position: relative;

    li {
        list-style: none outside none;
    }
}

.nav-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

/**
 * Submenu for header navigation
 */
.header-nav {
    border-bottom: 1px solid $color-border;

    ul {
        justify-content: left;
    }

    a {
        @extend .font-s;
        @extend .stretched;
        &:after {
            background-color: $color-primary;
        }

        &:hover,
        &.active {
            color: $color-primary;
        }
    }
}

.nav-dropdown {
    .dropdown--content {
        min-width: 240px;
    }

    ul {
        display: block;
    }
}

/* Page title */
.title-back {
    display: block;

    i {
        font-size: 0.7em;
    }
}
