.formgroup{

    /* override the default gutter margin-bottom */
    .formgroup-info, .formgroup-input{
        margin-bottom:0;
    }

    h2{
        font-size:1em;
        text-transform: uppercase;
    }
}

/* redactor wysiwyg */
.redactor-toolbar{
    z-index:10; // override default 100 z-index
}

.redactor-air li a, .redactor-toolbar li a{
    height:auto;
}

.redactor-toolbar a{
    margin-right: 0;
}

.redactor-toolbar li a.re-button-icon {
    padding: 8px 15px;
    font-size: 12px;
}

.redactor-in .row , .redactor-in [class*="column-"]{
  border:1px dashed lightgrey;
}

.redactor-dropdown-format{
    .redactor-dropdown-item-p,
    .redactor-dropdown-item-h2,
    .redactor-dropdown-item-h3 {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1;
    }
}

.redactor-clips-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.redactor-clips-list li {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}
.redactor-clips-list span {
    white-space: nowrap;
    background: rgba(0,125,255, .75);
    color: #fff;
    display: inline-block;
    padding: 3px 6px;
    line-height: 1;
    border-radius: 4px;
    cursor: pointer;
}

// Field addons (prepend or appending fixed content in input field)
.input-addon {

    display: flex;

    .input{
        flex: 1;

        &:not(:first-child) {
            border-left: 0;
        }
        &:not(:last-child) {
            border-right: 0;
        }
    }

    .addon{
        background-color: #f4f6f5;
        border: 1px solid #dadada;
        color: #666666;
        font: inherit;
        font-weight: normal;
    }

    .input:first-child, .addon:first-child{
        border-radius: 5px 0 0 5px;
    }

    .input:last-child, .addon:last-child{
        border-radius: 0 5px 5px 0;
    }
}