.--hidden{
    visibility: hidden;
    display:none;
}

.info-bar{
    p{
        margin: 0;
    }
    .info-title{
        font-weight: 100;
        color: $color-subtle;
        font-size: .86em;
    }
}

// Order events
.event-type, h4.event-type{
    margin:0;
}

.event-metadata{
    text-transform: uppercase;
    font-size: 0.86em;
    color: $color-subtle;
}

.panel-list{
    margin: 0;
    li{
        color: $color-subtle;
        list-style: none;
        img{
            max-height: 50px;
        }
        &:not(:last-child){
            .icon-line{
                height: 100%;
                &:after{
                    content: "";
                    position: absolute;
                    height: calc(100% + #{$space-s});
                    left: calc(#{$base-icon-size} / 2);
                    top: $base-icon-size + 1;
                    border-left: 1px dashed $color-subtle;
                }
            }
        }
        &.event-new{
            .icon:before{
                content: "\e925";
            }
        }
        &.event-confirmed{
            color: $color-primary;
            .icon:before{
                content: "\e91d";
            }
        }
        &.event-pending{
            color: $color-warning;
            .icon:before{
                content: "\e927";
            }
        }
        &.event-alert{
            color: $color-error;
            .event-type{
                color: $color-error;
            }
            .icon:before{
                content: "\e902";
            }

        }
    }
}

// Allow flex items to fit content - warpaint columns default to flex-basis:0;
.--fit-content{
    flex-basis: auto;
}

// Some utility classes
.block{ display: block; }
.inline-block{ display: inline-block; }
.inline{ display: inline; }

// Sticky class with a polyfill by Stickyfill js lib
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* allow topbar to have same bg as body */
.sticky-bar{
    background-color: $color-white;
    z-index: $z-index-header; // Allow for proper stickyness above redactor toolbar
    border-bottom: 1px solid darken($color-white,5%);
}
