.show-on-hover{
  .menu-trigger{
    visibility:hidden;
  }
  &:hover .menu-trigger { visibility: visible; }
}

.menu-trigger:after{
    content: '';
    display: block;
    width: calc(100% - 2rem);
    height: 1px;
    background: transparent;
    position: absolute;
    top: 50%; right: 0;
    z-index: -1;
    border-top: 1px dashed $color-border;

}

.pagebuilder-menu{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  bottom: -24px;
  left: -15px;
  height:2rem; // Maintain position with floating items
  z-index: 1;

  .block.icon{
     font-size: 2rem;
  }
}

.pagebuilder-menu-items{
  float: right;
  margin-left: 0.6rem;
  position: relative;
  &:before{
      content: '';
      display: block;
      position: absolute;
      width: 0; height: 0;
      border: 0 solid #0000;
      border-top-width: 10px;
      border-bottom-width: 10px;
      border-right: 10px solid #FFF;
      left: -10px; top: 50%;
      transform: translateY(-50%);
  }
  .icon{
      margin-right: 0.5rem;
  }
}

.pagebuilder-section-title, h3.pagebuilder-section-title{
  margin-bottom: .2em;
  font-size: 0.8em;
  font-weight: normal;
  color: $color-primary;
  margin-top: -0.8em;
}