.flag{
  position: relative;
  display: inline-block;
  width: 15px;
  height: 10px;
  &:before, &:after{
      content:'';
      width: 5px;
      height: 10px;
      position: absolute;
  }
  &:before{
      left: 5px;
  }
    &:after{
      left: 10px;
  }
}

.flag-be{
  background: black;
  &:before{background: yellow}
  &:after{ background: red}
}


.flag-fr{
  background: blue;
  &:before{background: white}
  &:after{ background: red}
}
