// GOOGLE MATERIAL EFFECT
.raised,
.--raised {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
}
.hover,
.--hover{
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    &:hover{
        @extend .--raised;
        border-color: transparent;
        transform: translateY(-5px);
    }
}

// MEDIA ELEMENTS ALIGNMENT
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
