
.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.section-divider{
  height: 0;
  border-top: 1px solid #DDD;
  margin-top: 20px;
  margin-bottom: 20px;
  span{
    display: inline-block;
    position: relative;
    padding: 0 17px 0 0;
    background: #FFF;
    color: #999;
    top: -11px;
    font-size: 14px;
  }
}