---
---

@import "{{ site.theme }}";

.fixed{
    position: fixed;
}

.underline{
	text-decoration: underline;
    text-decoration-color: #159957;
}

.chief{
	display: inline-block;
	width: 30px;
	padding-left: 10px;
}


.main-nav {
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.main-nav a {
    padding: 0px 8px 0px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.subnav{
    list-style: none;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    a {
        padding: 0px;
        padding-left: 5px;
        font-size: 15px;
    }
    ul {
        padding-left: 20px;
    }
}

.subnavitem{
    list-style: none;
    
}

.main-nav a:hover {
    color: #159957;
}

.active{
    font-weight: bold;
	color: #159957 !important;
}
