.feature{    
    height: calc(100vh - 544px);
    min-height: 200px;

    
    h1{
        color: $white;  
        margin-bottom: 0px; 
        font-size: 1.15rem;
        text-transform: uppercase;
    }
    
    span{
        background-color: $white; 
    }
            
    .title{
        position: absolute;
        bottom: 10%;
        width: 70%;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0,0px,0);
	       transform: translate3d(0,0px,0);
    }
    

    .feature-teaser{
        font-size:0.9em;
        color: white;
        visibility: hidden;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0,100px,0);
	       transform: translate3d(0,100px,0);
        span{
            display:none;
        }

    }
    
}

.feature:hover,.feature.active{

  .title{
        -webkit-transform: translate3d(0,-90px,0);
	   transform: translate3d(0,-90px,0);
      @include tablet{
           -webkit-transform: translate3d(0,-100px,0);
	       transform: translate3d(0,-100px,0);
      }
  }

  .feature-teaser
  {
    width: 95%;
        -webkit-transform: translate3d(0,0,0);
	   transform: translate3d(0,0,0);
  }

    .feature-teaser{
        visibility:visible;
        font-size: 12px;
        color:$white;
        position: absolute;
        bottom:5%;
        padding:0;
        p, ul, ol{
            color: $white;
        }
      }

  .feature-teaser ul{
    list-style:none outside none;
    padding:0;
  }

}

.debiteurenbeheer{
        transition: all 0.3s ease-in;
        background: url('../img/home/debiteurenbeheer.png') $dark-grey no-repeat center center;
        background-size:cover; 
    }

.snellerbetaald{
        transition: all 0.3s ease-in;
        background: url('../img/home/snellerbetaald.png') $dark-grey no-repeat center center;
        background-size:cover; 
    }

.wanbetalers{
        transition: all 0.3s ease-in;
        background: url('../img/home/wanbetalers.png') $dark-grey no-repeat center center;
        background-size:cover; 
    }

.werkkapitaal{
        transition: all 0.3s ease-in;
        background: url('../img/home/werkkapitaal.png') $dark-grey no-repeat center center;
        background-size:cover; 
    }

a:hover{
    .debiteurenbeheer,
    .snellerbetaald,
    .wanbetalers,
    .werkkapitaal
    
    {
        background-color: $green;
    }
}