// BADGES
.badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    color: $color-white;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgba($color-emphasis, 0.3);
    border-radius: $badge-border-radius;
    &.badge-left{
        margin-right: 0.5rem;
    }
    &.badge-right{
        margin-left: 0.5rem;
    }
}