// TABLES
table{
    width: 100%;
    border-radius: $table-border-radius;
    border-collapse: separate;
    border-spacing: 0;
    thead{
        text-align: left;
        tr{
            background-color: transparent!important;
            color: $color-body!important;
        }
    }
    .table-hover{
        tr:hover{
            background-color: rgba($color-table, 0.30);
            color: darken($color-table,30%);
            cursor: pointer;
        }
    }
    th,
    td{
        padding: $spacy / 2 $spacy; //same padding as squished
        text-align: left;
        border-bottom: 1px solid $color-table;
    }
    a.btn{
        transform: scale(0.75);
        background-color: $color-white;
    }
    .btn~.btn{
        margin-left: 0;
    }
}

$table-name: default primary secondary;
$colors: $color-table $color-primary $color-secondary;

@each $table in $table-name{
    $i: index($table-name, $table);
    // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .table-striped-#{$table}{
        //border: 1px solid $color;
        tr:nth-child(odd){
            background-color: rgba($color, 0.20);
            color: darken($color,20%);
        }
        tr:nth-child(even){
            color: darken($color,20%);
        }
        th,
        td{
            border-bottom: 1px solid $color;
        }
        &.table-hover{
            tr:hover{
                background-color: rgba($color, 0.30);
                color: darken($color,30%);
                cursor: pointer;
            }
        }

    }
}