// THUMBNAILS
.thumbnail{
    display: inline-block;
    background-color: $color-white;
    border: 1px solid $color-border;
    border-radius: $default-border-radius;
    transition: $transition;
    overflow: hidden;
    img,
    .caption{
        float: left;
    }
    &:hover{
        box-shadow: 0 16px 38px -12px rgba($color-emphasis, 0.36),
        0 4px 25px 0px rgba($color-emphasis, 0.08),
        0 8px 10px -5px rgba($color-emphasis, 0.08);
    }
    &.--rounded{
        border-radius: 50%;
        padding: 0;
        overflow: hidden;
        & img{
            object-fit: cover;
        }
    }
}