.treeview {
    .indent-1 {
        padding-left: 3rem;
    }
    .indent-2 {
        padding-left: 5.5rem;
    }
    .tree-parent {
        position: relative;
        //&:after{
        //    font-family: "spirit";
        //    content: '\e920';
        //    display: inline-block;
        //    position: absolute;
        //    margin-left: -40px;
        //}
    }
}

.separator {
    border-bottom: 1px dotted $color-border;
}
