.form-input-radio {
    margin-top: 2px;
    @apply relative h-5 w-5 appearance-none rounded-full leading-none;

    &:before {
        content: '';
        @apply inline-block h-5 w-5 rounded-full border shadow-sm;
        @apply border-grey-200 bg-white;
    }

    &:after {
        content: '';
        @apply absolute left-2.5 top-2.5 inline-block size-0 rounded-full;
        @apply bg-primary-500;
    }

    &:focus {
        @apply outline-none ring-1 ring-primary-500;
    }

    &:checked {
        &:after {
            @apply left-1.5 top-1.5 size-2;
        }
    }

    &:disabled {
        @apply opacity-50;
    }
}
