/* TODO: extract theme specific styling from base styling */
.form-input-toggle {
    width: 3.5rem;
    height: 1.75rem;

    @apply relative inline-block;
}

.form-input-toggle:before {
    content: '';
    @apply absolute cursor-pointer inset-0 bg-grey-200 rounded-full transition-all duration-300 ease-in-out;
}

.form-input-toggle:after {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 0.25rem;
    left: 0.25rem;
    @apply inline-block bg-white rounded-full shadow transition-all duration-300 ease-in-out;
}

input:focus + .form-input-toggle:before {
    @apply shadow;
}

input:checked + .form-input-toggle {
    &:before {
        @apply bg-primary-500;
    }

    &:after {
        transform: translateX(1.75rem);
    }
}
