/* Hides native up/down arrows for number inputs */
@utility form-input-without-spin-buttons {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* Hide element scrollbar */
.scrollbar\:hidden {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
