.factoring{
    
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    span{
        background-color: $green;
    }
    
    iframe{
        max-width: 100%;
    }
    
}

.factoring-detail{
    
    @extend .bg-bluegrey;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    span{
        background-color: $green;
        margin: 0 auto;
    }
}

.nav-tabs{
    li{
            .st0{
                transition: all 0.2s ease-in;
                fill:#B9BFCC;
                }
                &:hover{
                    .st0{
                        fill:$green;
                        }
                    }
        &.active{
            background: url('../img/arrow.png') no-repeat center bottom;
        }
        a{
            padding: 25px 15px;
        }            
    }
    
    svg{
        vertical-align: middle;
        max-width: 60px;
        width: 50px;
        }

}

.nav-tabs  li.active  svg{
    .st0{
        fill:$green;
    }
    zoom:1.5;
    transition: all 0.2s ease-in;
}

.tab-content>.tab-pane{
    padding: 2rem;
}


div.shadow {
    position: relative;
    height: 10px;
    background: #B9BFCC;
    opacity: 0.1;
    border-radius: 100%;
    margin: 0px 20%;
    top: 50px;
    animation: shadow_react ease 3.5s infinite;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

@keyframes shadow_react { 
    0% { margin:0px 20% 0px 20%; opacity:0.1;}
    50% { margin:0px 20% 0px 20%; opacity:0.2;} 
    100% { margin:0px 20% 0px 20%; opacity:0.1;} 
}