.home-testimonial, .index-testimonial{
    
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    span{
        background-color: $green;
    }   
}

.testimonial{
    background-color: $light-grey;
    height: 219px;
    margin-bottom: 40px;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.1),0 5px 5px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    border: 1px solid $light-grey;
    cursor:pointer;
    transition: all ease-in 0.3s;
    img{
        float:left;
        padding: 0;
        margin-right: 0.9375rem;

        @include mobile{
            max-width:30%;
            margin-bottom:10px;
        }
    }
    
    .icon{
        float: right;
        margin: 0;
        width: 30px;
        opacity: 0.3;
    }
    
    .cta{
        margin-top: 0.9375rem;
        background-color:$light-grey;
        color: $white!important;
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 10;
        text-decoration: none;
        border: none;
        padding: 10px;
        border-top: 1px solid #DFDDDC;
        width: calc(100% - 199px);
        border-radius: 0;
        &:hover{
            background-color: none;
            .icon{
                opacity: 0.6;
            }
        }
    }
    
    .copy{
        padding: 0.9375rem;

        h2, p{
            color: $dark-grey;
            margin: 0;
        }
        h2{
            font-size: 1rem;
        }
    }
    
    &:hover{
        border: 1px solid $dark-grey;
    }
}

.agency-quote, .story-quote{
    @extend .bg-green;
    color: $white;
    text-align: center;
    padding: 4rem 0;
    position: relative;
    h1, p{
        color: $white;
    }
    span{
        background-color: $white;
        margin: 0 auto;
    }
}

.agency-quote{
    #person{
        position: absolute;
        bottom: 0;
        right: 5%;
        @include tablet{
            display: none;
        }        
        @include phone{
            display: none;
        }
    }
}

.story-quote{
    #person{
        position: absolute;
        bottom: 0;
        left: -3%;
        @include tablet{
            display: none;
        }        
        @include phone{
            display: none;
        }
    }
}
.world-network{
    padding: 4rem 0;
    
    h1{
        border-left: 4px solid $green;
        padding-left: 15px;
    }
}

    
ul.flag {
    display: inline-block;
    margin-left: 0;
    padding: 0;
    &:after{
        content: '';
        display: table;
        clear: left;
    }
    li{
        float: left;
        list-style: none;
        padding: 0 15px 15px;
        border-radius: 15px;
    }
}


