.sidebar{
    position: absolute;
    right: 0;
    top: 4rem;
    background-color: $white;
    width: 300px;
    z-index: 9;
        @include tablet{
            width: 300px;
        }   
    strong{
        font-weight: bold;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        border: 1px solid $light-grey;
        position: relative;
    a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.15rem;
        padding: 15px 25px;
        display: inline-block;
         &.active{
            color: $green;
             &:after{
            background: url('../img/sidebar-arrow.png') no-repeat bottom left;
            }
        }
        &::after{
            display: block;
            content: '';
            background: url('../img/sidebar-arrow.png') no-repeat top left;
            height: 28px;
            width: 15px;
            position: absolute;
            top: 25px;
            right: 25px;
        }
        &:hover{
            &:after{
            background: url('../img/sidebar-arrow.png') no-repeat bottom left;
            }
        }
        }        
    }
}

li:after & a.active{ 
    background: url('../img/sidebar-arrow.png') no-repeat bottom right;
}