// content will be contained in relation to the screen width.
.container {
    @extend .clearfix;
    margin-left: $container-margin / 4;
    margin-right: $container-margin / 4;

    @include medium-view {
        margin-left: $container-margin / 2;
        margin-right: $container-margin / 2;
    }

    @include large-view {
        margin-left: $container-margin / 1.5;
        margin-right: $container-margin / 1.5;
    }

    @include xlarge-view {
        margin-left: $container-margin / 2;
        margin-right: $container-margin / 2;
    }

    &.edge {
        margin: 0;
        overflow-x: hidden; /* contain overflow of negative row margin */
    }
}

/**
* You should avoid setting container on a gutter row element since the margins will conflict
* If this is the case, we try to compensate the negative margins of the gutter. This is
* however not consistent if you use different gutter widths.
*/
@each $size, $space in $sizes {
    .container.gutter-#{$size} {
        margin-left: 4% - ($space / 1rem);
        @include medium-view {
            margin-left: 8% - ($space / 1rem);
        }
        @include large-view {
            margin-left: 12% - ($space / 1rem);
        }
        @include xlarge-view {
            margin-left: 18% - ($space / 1rem);
        }
    }
}

.container.gutter {
    margin-left: 4% - ($space-m / 1rem);
    @include medium-view {
        margin-left: 8% - ($space-m / 1rem);
    }
    @include large-view {
        margin-left: 12% - ($space-m / 1rem);
    }
    @include xlarge-view {
        margin-left: 18% - ($space-m / 1rem);
    }
}
