/***********************************************
*	BRAND COLORS							   *
***********************************************/
$primary: #149560;
$secondary: #e42f17;

/***********************************************
*	OTHER COLORS							   *
***********************************************/
$danger: #a62a32;
$warning: #eb7d24;

$white: #FFF;
$light-grey: #F3F3F3;
$grey: #5d5d5d;
$dark-grey: #383838;
$blue-grey: #e8e9ee;