select {
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

// It is not possible on webkit to set pseudo elements on select.
.select-wrapper {

  position: relative;

  &:after {
    content: "\E920";
    display: block;
    position: absolute;
    right: $space-s;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'mkiha';
    pointer-events: none;
  }
}
