/*
 |
 | LOGIN.CSS
 | ---------
 | Deze file staat apart omdat het loginscherm los staat van de default layout.
 | De opmaak toont zich op de pagina thinktomorrow.be/chief en is zichtbaar voor zowel
 |  adminbeheerders als de gebruikers.
 |
*/

::-moz-selection {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

::selection {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0px;
  width: 100%;
}

a {
  --tw-text-opacity: 1;
  color: rgba(64, 64, 64, var(--tw-text-opacity));
  text-decoration: none;
}

a:hover {
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

main {
  display: flex;
  height: 100%;
  width: 100%;
}

aside {
  background: #13c6a6 url("../img/logo.svg") no-repeat center center;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  width: 80%;
}

section {
  box-shadow: -10px 0px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 6rem;
  width: 100%;
}

.login-wrapper {
  max-width: 400px;
  width: 100%;
}

.input-group-prefix {
  display: inline-block;
  position: relative;
  width: 100%;
}

.input-group-prefix span.lnr {
  bottom: 33px;
  position: absolute;
}

.form label {
  float: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form input[type=text]:focus, .form input[type=email]:focus, .form input[type=password]:focus {
  --tw-border-opacity: 1;
  border-color: rgba(64, 64, 64, var(--tw-border-opacity));
  border-bottom-width: 1px;
}

.form input[type=text],
.form input[type=email],
.form input[type=password] {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.form input[type=text], .form input[type=email], .form input[type=password] {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(250, 250, 250, var(--tw-border-opacity));
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  margin-bottom: 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.form input[type=checkbox] {
  margin-right: 1rem;
}

.form button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  --tw-bg-opacity: 1;
  background-color: rgba(64, 64, 64, var(--tw-bg-opacity));
  border-radius: 9999px;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 50%;
}

.form button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease;
}

.form button:hover, .form button:active, .form button:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}

.form .error {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.form .succes {
  --tw-text-opacity: 1;
  color: rgba(34, 197, 94, var(--tw-text-opacity));
}

.form .message {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form .message a {
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
  text-decoration: none;
}

.form .register-form {
  display: none;
}

footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-align: center;
}

/*TOGGLE PWD*/

.showHideInput {
  display: none;
}

.showHideLabel {
  right: 55px;
  margin-top: -50px;
  position: absolute;
}
