/*
 |
 | LOGIN.CSS
 | ---------
 | Deze file staat apart omdat het loginscherm los staat van de default layout.
 | De opmaak toont zich op de pagina thinktomorrow.be/chief en is zichtbaar voor zowel
 |  adminbeheerders als de gebruikers.
 |
*/

::-moz-selection {
  background-color: #13C6A6;
  color: #fff;
}

::selection {
  background-color: #13C6A6;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  margin: 0;
}

a {
  color: #2F313C;
  text-decoration: none;
}

a:hover {
  color: #13C6A6;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}

aside {
  background: #13C6A6 url("../img/logo.svg") no-repeat center center;
  background-size: 100%;
  width: 80%;
  display: flex;
  align-items: flex-end;
}

section {
  box-shadow: -10px 0px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  padding-left: 6rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.login-wrapper {
  max-width: 400px;
  width: 100%;
}

.input-group-prefix {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-group-prefix span.lnr {
  bottom: 33px;
  position: absolute;
}

.form label {
  float: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=password]:focus {
  border-bottom-width: 1px;
  border-color: #2F313C;
}

.form input[type=text],
.form input[type=email],
.form input[type=password] {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  outline: 0;
  background-color: #fff;
  width: 100%;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-color: #F8F8F9;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form input[type=checkbox] {
  margin-right: 1rem;
}

.form button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: 0;
  width: 50%;
  background-color: #2F313C;
  border-style: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border-radius: 9999px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease;
}

.form button:hover, .form button:active, .form button:focus {
  background-color: #13C6A6;
}

.form .error {
  color: #ed4d4d;
}

.form .succes {
  color: #2fca74;
}

.form .message {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form .message a {
  color: #13C6A6;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*TOGGLE PWD*/

.showHideInput {
  display: none;
}

.showHideLabel {
  right: 55px;
  margin-top: -50px;
  position: absolute;
}