@layer components {
    .h1-size {
        @apply text-4xl;
    }

    .h2-size {
        @apply text-3xl;
    }

    .h3-size {
        @apply text-2xl;
    }

    .h4-size {
        @apply text-xl;
    }

    .h5-size {
        @apply text-lg;
    }

    .h6-size {
        @apply text-base;
    }

    .body-size {
        @apply text-base;
    }

    .h1-weight {
        font-weight: theme('fontWeight.extrabold');
    }

    .h2-weight {
        font-weight: theme('fontWeight.bold');
    }

    .h3-weight,
    .h4-weight,
    .h5-weight,
    .h6-weight {
        font-weight: theme('fontWeight.semibold');
    }

    .body-weight {
        font-weight: theme('fontWeight.normal');
    }

    .h1-tracking,
    .h2-tracking,
    .h3-tracking {
        letter-spacing: theme('letterSpacing.tight');
    }

    .h4-tracking,
    .h5-tracking,
    .h6-tracking {
        letter-spacing: theme('letterSpacing.normal');
    }

    .body-tracking {
        letter-spacing: theme('letterSpacing.normal');
    }

    .h1-dark,
    .h2-dark,
    .h3-dark,
    .h4-dark,
    .h5-dark,
    .h6-dark {
        @apply text-black;
    }

    .body-dark {
        @apply text-grey-700;
    }

    .h1 {
        @apply font-display;
        @extend .h1-size;
        @extend .h1-weight;
        @extend .h1-tracking;
    }

    .h2 {
        @apply font-display;
        @extend .h2-size;
        @extend .h2-weight;
        @extend .h2-tracking;
    }

    .h3 {
        @apply font-display;
        @extend .h3-size;
        @extend .h3-weight;
        @extend .h3-tracking;
    }

    .h4 {
        @apply font-display;
        @extend .h4-size;
        @extend .h4-weight;
        @extend .h4-tracking;
    }

    .h5 {
        @apply font-display;
        @extend .h5-size;
        @extend .h5-weight;
        @extend .h5-tracking;
    }

    .h6 {
        @apply font-display;
        @extend .h6-size;
        @extend .h6-weight;
        @extend .h6-tracking;
    }

    .body {
        @apply font-body;
        @extend .body-size;
        @extend .body-weight;
        @extend .body-tracking;
    }
}
