form {
    @apply mb-0;
}

textarea,
select,
input[type='text'],
input[type='date'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='phone'],
input[type='password'],
input[type='file'] {
    @apply border border-grey-200 px-3 py-2.5 leading-normal text-grey-700 bg-white rounded-lg;

    &:focus {
        @apply border-primary-500;
    }

    &::placeholder {
        @apply text-grey-400;
    }
}

textarea,
select,
input[type='text'],
input[type='date'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='search'],
input[type='phone'],
input[type='password'],
input[type='file'],
input[type='range'],
input[type='number'] {
    @apply w-full;
}

input[type='radio'],
input[type='checkbox'] {
    @apply absolute opacity-0 z-[-1];
}

.with-radio,
.with-checkbox {
    @apply relative text-grey-700 cursor-pointer flex;

    span {
        @apply inline-block pl-8;
    }

    span:before {
        content: '';
        @apply inline-block w-5 h-5 border border-grey-200;
    }

    span:before,
    span:after {
        @apply transition duration-75 ease-in-out absolute left-0 top-[0.1rem];
    }

    input:focus + span:before {
        @apply border-primary-500;
    }

    input:disabled + span:before {
        @apply opacity-25;
    }
}

.with-radio {
    span:before,
    span:after {
        @apply rounded-full;
    }

    span:after {
        content: '';
        @apply inline-block w-5 h-5 border-2 border-primary-500;
        @apply bg-primary-500 transform scale-0;
    }

    input:checked + span:after {
        @apply scale-[0.5];
    }
}

.with-checkbox {
    span:before {
        @apply rounded-sm;
    }

    span:after {
        content: url('data:image/svg+xml; utf8, <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="%23FFFFFF"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /> </svg>');
        @apply inline-block left-[0.05rem] top-[0.15rem];
        @apply transform scale-0;
    }

    input:checked + span:before {
        @apply bg-primary-500 border-primary-500;
    }

    input:checked + span:after {
        @apply scale-100;
    }
}

.prepend,
.append {
    @apply inline-flex items-center border border-r-0 bg-primary-50 border-grey-200 shrink-0;
    @apply font-medium text-primary-500 px-3 py-2.5;
}

.prepend {
    @apply rounded-l-lg;
}

.append {
    @apply rounded-r-lg;
}

.with-prepend {
    @apply !rounded-l-none;
}

.with-append {
    @apply !rounded-l-none;
}

.children\:with-prepend > * {
    @apply !rounded-l-none;
}

.children\:with-append > * {
    @apply !rounded-r-none;
}

select.select {
    appearance: none;

    @apply pr-7 cursor-pointer;
}
