form {
    @apply mb-0;
}

textarea,
select,
input[type='text'],
input[type='date'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='phone'],
input[type='password'],
input[type='file'] {
    @apply border border-grey-200 px-3 py-2.5 leading-normal text-grey-700 bg-white rounded-lg;

    &:focus {
        @apply border-primary-500;
    }

    &::placeholder {
        @apply text-grey-400;
    }
}

textarea,
select,
input[type='text'],
input[type='date'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='search'],
input[type='phone'],
input[type='password'],
input[type='file'],
input[type='range'],
input[type='number'] {
    @apply w-full;
}

input[type='checkbox'],
input[type='radio'] {
    margin-top: 0.1rem;
    @apply appearance-none relative w-5 h-5 border border-grey-300 overflow-hidden mr-1 cursor-pointer shrink;

    &:focus {
        @apply ring-2 ring-primary-500;
    }

    &:before {
        content: '';
        @apply absolute inset-0 bg-primary-500 scale-0 z-10 transition-all duration-150 ease-in-out;
    }

    &:checked:before {
        @apply scale-50;
    }
}

input[type='radio'] {
    @apply rounded-full;

    &:before {
        @apply rounded-full;
    }
}

input[type='checkbox'] {
    @apply rounded;

    &:before {
        @apply rounded;
    }
}

label.with-checkbox,
label.with-radio {
    @apply flex items-start space-x-2 cursor-pointer;

    span {
        @apply text-grey-600;
    }
}

.prepend,
.append {
    @apply inline-flex items-center border border-r-0 bg-primary-50 border-grey-200 shrink-0;
    @apply font-medium text-primary-500 px-3 py-2.5;
}

.prepend {
    @apply rounded-l-lg;
}

.append {
    @apply rounded-r-lg;
}

.with-prepend {
    @apply !rounded-l-none;
}

.with-append {
    @apply !rounded-l-none;
}

.children\:with-prepend > * {
    @apply !rounded-l-none;
}

.children\:with-append > * {
    @apply !rounded-r-none;
}

select.select {
    appearance: none;

    @apply pr-7 cursor-pointer;
}
