.prose {
    $elementsLoose: h1, h2, h3;
    $elementsRelaxed: h4, h5, h6;
    $elementsNormal: p, ol, ul, blockquote, code, img, iframe, form, table;
    $elementsTight: figcaption, cite, li;

    $elementsAll: join($elementsLoose, $elementsRelaxed);
    $elementsAll: join($elementsAll, $elementsNormal);
    $elementsAll: join($elementsAll, $elementsTight);

    @each $element in $elementsAll {
        @each $subElement in $elementsLoose {
            #{$element} + #{$subElement} {
                @apply mt-6;
                @screen xs {
                    @apply mt-8;
                }
            }
        }
        @each $subElement in $elementsRelaxed {
            #{$element} + #{$subElement} {
                @apply mt-4;
                @screen xs {
                    @apply mt-6;
                }
            }
        }
        @each $subElement in $elementsNormal {
            #{$element} + #{$subElement} {
                @apply mt-4;
            }
        }
        @each $subElement in $elementsTight {
            #{$element} + #{$subElement} {
                @apply mt-2;
            }
        }
    }
}

.prose-dark {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        @apply text-grey-900;
    }

    html,
    body,
    ul,
    ol,
    li,
    p,
    cite,
    blockquote,
    figcaption,
    input,
    textarea {
        @apply text-grey-700;
    }

    code {
        @apply bg-grey-100 border border-grey-200 rounded;
    }
}

.prose-editor,
.editor-content {
    img {
        @apply h-auto #{!important};
    }

    a:not(.btn):not(.link) {
        @extend .link, .link-primary;
    }
}

.prose-wireframe {
    @apply text-xs;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6  {
        @apply text-sm;
    }
}
