.redactor-toolbar {
    z-index: 10 !important;
}

.redactor-box {
    overflow: hidden !important;
    border-radius: theme('borderRadius.md') !important;
    border-color: theme('borderColor.grey.200') !important;
    &:focus {
        border-color: theme('borderColor.primary.500') !important;
    }
}
