/* --------- BEGIN USERS VIEW ------------ */

.rm-padding-top{
	padding-top: 0px !important;
}

.badge{
	height: 20px;
	width: 20px;
	font-size: 1rem;
	line-height: 14px;
	border-radius: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	cursor: help;

}

.darkblue{
	background-color: #4A89DC;
}

.blue{
	background-color: #3BAFDA;
}

.orange{
	background-color: #F6BB42;
}

.list-label{
	font-size: 1rem;
}

.panel-control-title{
	transition: 0.3s ease all;
}

.panel-control-title:hover{
	color: #3BAFDA;
	transition: 0.3s ease all;
}

.panel-control-remove{
	transition: 0.3s ease all;
}

.panel-control-remove:hover{
	color: #E9573F;
	transition: 0.3s ease all;
}

.gridicon{
	width: 20px;
	text-align: center;
}

.responsive-column-1, .repsonsive-column-2{
	display: inline-block;
}

@media screen and (max-width: 1300px) {
	.responsive-column-1{
		display: none;
	}
}
@media screen and (max-width: 1200px) {
	.responsive-column-2{
		display: none;
	}
}

/* --------- END USERS VIEW ------------ */
