.rolename, .rolepermission{
  display: inline-block;
  padding-bottom: 5px;
  margin-right: -4px;
}

.rolename{
  width: 150px;
}

.rolepermission{
  span{
    padding: 0 10px;
    color: white;
  }
}
