// TYPOGRAPHY
h1,h2,h3,h4,h5{
  font-family: $font-family-secondary;
  font-weight: 700;
  color: $color-heading;
}

h5, h6{
  text-transform: uppercase;
  font-size: .86em;
  font-weight: 100;
}

h1{
  text-transform: uppercase;
  letter-spacing: -.02em;
  font-weight: normal;
}

h4{
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 0.04em;
}

body,
p{
  font-family: $font-family-primary;
  font-weight: 300;
  color: $color-font;
}
ul, ol{
  word-break: break-word;
  padding-left: 0;
}
ol li{
  list-style: inherit;
}
blockquote{
  padding: 1.2em;
  background: lighten($color-subtle, 30%);
  border-left: 2px solid lighten($color-secondary, 30%);
}

pre{
  margin:0;
}

code{
  display: inline-block;
  background: lighten($color-subtle, 30%);
  padding: .1em;
}
b, strong,.bold{
    font-weight: 700;
}
.text-upper{
    text-transform: uppercase;
}
